.tableSection {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tableWrapper {
    flex: 1 auto;
}

.tableIn {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tableWrapper h3 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 5px;
}



.table {
    width: 100%;
}

.table th,
.table td {
    text-align: start;
    padding: 5px;
}

.table tr {
    height: 30px;
}

.search {
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
    position: relative;
}

.searchInput {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #dee2e6;
    width: 30%;
}

.searchInput:focus {
    outline: none;
}

.filterBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    outline: none;
    width: 100px;
}

.filterBtn:hover {
    background-color: #e2e2e2;
    transition: .2s;
}

.filterBtn:active {
    background-color: #9f9f9f;
}

.filterBtn img {
    width: 16px;
    height: 16px;
    transition: .2s;
}

.filterMenu {
    position: absolute;
    transform: translateY(159px);
    width: 100px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    flex-direction: column;
    gap: 5px;
    transition: .2s;
}

.selectFilter {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    outline: none;
}

.selectFilter:hover {
    background-color: #e2e2e2;
    transition: .2s;
}

.btnsWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.addBtn {
    padding: 10px;
    border-radius: 8px;
    background-color: #1FB141;
    outline: none;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.addBtn img {
    width: 18px;
    height: 18px;
}

.addBtn:hover {
    background-color: #199434;
    transition: .2s;
}

.addBtn:active {
    background-color: #147729;
}