.tableSection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tableWrapper {
    flex: 1 auto;
}

.tableIn {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F4F8FC;
}

.tableWrapper h3 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 5px;
}

.table {
    width: 100%;
}

.table th,
.table td {
    text-align: start;
    padding: 5px;
}

.table tr {
    height: 30px;
}

.table tbody tr:hover {
    background-color: #ededed;
    transition: .2s;
}

.btnsWrapper {
    padding-block: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.activeButton {
    background-color: #007bff !important;
    color: white;
    transition: .6s ease;
}

.btnsWrapper button {
    border: 1px solid #dee2e6;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    background-color: #F3F3F3;
    transition: .6s ease;
    text-align: center;
}

.btnsWrapper button:hover {
    background-color: #dedede;
    transition: .4s ease;
}