.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px #565656;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.form h1 {
  text-align: center;
  margin: 10px 0;
}

.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  outline: none;
}

.input:focus {
  outline: none;
}


.button {
  margin: 10px;
  padding: 10px;
  background-color: #000080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
}

.button:hover {
  transition: all 0.3s ease;
  background-color: #054a94;
}

.message {
  color: red;
}