.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    border-bottom: 1px solid #dee2e6;
    padding-inline: 30px;
}


.header h1 {
    font-size: 24px;
    font-weight: 400;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid #dee2e6;
}